*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.phpstan.cache
/node_modules
/.vscode
/.zed
/auth.json
/public/storage
/storage/*.key
/storage/pail
/vendor
/api.json
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
