includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - bootstrap/app.php
        - bootstrap/providers.php
        - config
        - database
        - routes
    level: 7
    tmpDir: .phpstan.cache
